h1{
    color: rebeccapurple
 }

 .divClass {
   background-color:hsla(0, 97%, 52%, 0.411);;
   width: 500px;
   text-align: center;
 }

 img {
   padding: 10px;
   width: 400px;
   height: 200px;
   display:block;
   align-content: center;
}

 .all{
  display: flex;
  flex-direction: column;
  align-items: center;

 }


 .thirdDiv {
   height: 600px;
   width: 500px;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 50px;
   border: 1px solid rgb(128, 0, 248);
   border-radius: 4px;
   opacity: .5;
 }

 .thirdDiv:hover{
    opacity: 1;
 }

 .imagetxt {
   text-align: center;
   padding: 10px 20px;
   border: 1px double;
   border-radius: 4px;

 }

 .divClass {
    text-align: center;
 }

 #spanId{
     margin:50px;

 }

 body, html {
   height: 100%;
 }
 
 body {
   background-image: url("https://thumbs.gfycat.com/HomelyFormalImpala-size_restricted.gif");
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }